@font-face {
  font-family: "Quicksand";
  src: url(./assets/fonts/Quicksand-Bold.ttf);
}
* {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}
body {
  overflow: hidden;
}
nav ul {
  display: flex;
  background: rgb(37, 2, 165);
  height: 20px;
}
nav li {
  cursor: pointer;
  margin: auto 20px;
  text-decoration: underline;
}
main {
  height: 100vh;
  display: grid;
  grid-template-columns: 60% 40%;
}
#icon {
  width: 40px;
}
.left-part {
  height: 100vh;
}
.code-area {
  background: red;
  height: 100%;
}
.right-part {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.screen-area {
  background: blue;
  height: 100%;
}
.script-area {
  background: green;
  height: 100%;
}
#categories {
  max-width: 50px;
  height: 100vh;
  background: teal;
}
.block-display {
  display: flex;
  text-align: center;
}
.categorie-color {
  height: 20px;
  width: 20px;
  margin: auto;
  border: 2px solid black;
  border-radius: 20px;
}
.categorie {
  padding: 5px;
  transition: 0.2s;
  cursor: pointer;
}
.categorie:hover {
  background: rgba(128, 128, 128, 0.671);
}

.block-container {
  background: violet;
  width: 200px;
  height: 100vh;
}
.block-container canvas {
  height: 100%;
  width: 100%;
}
