@font-face {
  font-family: "Saira";
  src: url(../assets/fonts/Saira-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Saira", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
button {
  background: teal;
  padding: 5px 50px;
  border-radius: 30px;
  border: 3px solid black;
  font-size: 1.5rem;
  transition: 0.4s;
}
button:hover {
  border: 3px solid cornsilk;
  color: cornsilk;
  background-color: cadetblue;
}
body {
  background-color: #383838;
  height: 200vh;
  margin-top: 70px;
}
.content {
  color: teal;
  transition: 1s;
}

#side-bar {
  position: fixed;
  width: 230px;
  height: 100%;
  background: teal;
  top: 0;
  left: -230px;
  transition: 0.5s ease-out;
  z-index: 4;
}
.toggle-btn {
  position: absolute;
  top: 20px;
  left: 240px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.toggle-btn span {
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background: gray;
  display: block;
  margin-top: 4px;
  transition: 0.3s ease;
}
li {
  color: #292929;
  list-style: none;
  font-size: 2.5rem;
  cursor: pointer;
  padding-left: 5px;
}
li:hover {
  background: #292929;
  color: #fcfcfb;
}
#side-bar.active {
  left: 0;
  position: fixed;
}
.active span {
  position: absolute;
}
.active span:nth-child(1) {
  transform: rotate(45deg);
}
.active span:nth-child(2) {
  opacity: 0;
}
.active span:nth-child(3) {
  transform: rotate(-45deg);
}
.active ~ .content {
  opacity: 0.3;
}
nav {
  width: 100%;
  background: teal;
  display: flex;
  justify-content: center;
  height: 70px;
  position: fixed;
  top: 0;
}
h2 {
  font-size: 2rem;
  margin: 0 40px;
}
nav img {
  height: 100%;
}
.top {
  background: url(../assets/img/code-background.jpg) fixed center/cover;
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-container {
  background: #292929;
  height: 40%;
  width: 60%;
  border-radius: 50px;
  border: 5px solid teal;
}
.news-container p {
  font-size: 3rem;
}
.news-container button {
  margin: 20px auto;
}
.projects {
  border: 6px solid rgb(22, 174, 185);
  border-radius: 50px;
  padding: 20px;
  margin: 10px;
  /* background: yellow; */
}
#sub-title {
  color: rgb(0, 183, 255);
}
section li {
  color: aquamarine;
}
@media screen and (max-width: 400px) {
  nav {
    justify-content: flex-end;
  }
  nav h2 {
    margin-left: 15px;
  }
}
