* {
  margin: 0;
  padding: 0;
}
:fullscreen {
  background: white !important;
}
@font-face {
  font-family: "Saira";
  src: url(../assets/fonts/Saira-Regular.ttf);
}
a {
  text-decoration: none;
  color: black;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Saira", sans-serif;
}
body {
  background-color: #383838;
  height: 200vh;
  margin-top: 70px;
  overflow: hidden;
  background: white;
}
button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  transition: 0.5s;
}
button:hover {
  cursor: pointer;
  color: white;
}
.content {
  transition: 1s;
}

#side-bar {
  position: fixed;
  width: 230px;
  height: 100%;
  background: teal;
  top: 0;
  left: -230px;
  transition: 0.5s ease-out;
  z-index: 4;
}
.toggle-btn {
  position: absolute;
  top: 20px;
  left: 240px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.toggle-btn span {
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background: gray;
  display: block;
  margin-top: 4px;
  transition: 0.3s ease;
}
li {
  color: #292929;
  list-style: none;
  font-size: 2.5rem;
  cursor: pointer;
  padding-left: 5px;
}
li:hover {
  background: #292929;
  color: #fcfcfb;
}
#side-bar.active {
  left: 0;
  position: fixed;
}
.active span {
  position: absolute;
}
.active span:nth-child(1) {
  transform: rotate(45deg);
}
.active span:nth-child(2) {
  opacity: 0;
}
.active span:nth-child(3) {
  transform: rotate(-45deg);
}
.active ~ .content {
  opacity: 0.3;
}
nav {
  width: 100%;
  background: teal;
  display: flex;
  justify-content: center;
  height: 70px;
  position: fixed;
  top: 0;
}
h2 {
  font-size: 2rem;
  margin: 0 40px;
}
nav img {
  height: 100%;
}
.content {
  display: grid;
  grid-template-columns: 65% 35%;
  height: 100vh;
}
.left-part {
  background: white;
}
.project {
  height: 600px;
}
.project-info {
  padding-left: 20px;
  background: rgb(30, 83, 65);
  height: 40px;
}
#project {
  height: 100%;
  width: 100%;
}
.right-part {
  background: rgb(30, 83, 65);
  width: 100%;
}
.right-part button {
  transform: rotate(270deg);
}
.button-clicked button {
  transform: rotate(90deg) !important;
}
.button-clicked ~ .content {
  display: grid;

  grid-template-columns: 98% 2%;
  height: 100vh;
}
@media screen and (max-width: 400px) {
  nav {
    justify-content: flex-end;
  }
  nav h2 {
    margin-left: 15px;
  }
}
